@page "/"
@using Shared
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>Skapa match</PageTitle>

<div class="create-game-container">
    <div class="create-game-form">
        <label for="gameName">Namn på spel</label>
        <input id="gameName" @bind="_gameName" placeholder="Skriv in namnet på din sport/ditt spel här" />

        <label for="startScore">Startpoäng för spelare</label>
        <input id="startScore" type="number" @bind="_startScore" />

        <label for="orderByPoints">Vad är målet för spelet?</label>
        <InputSelect id="orderByPoints" @bind-Value="_highScoreWins">
            <option value="true">Få så många poäng som möjligt</option>
            <option value="false">Få så få poäng som möjligt</option>
        </InputSelect>

        <label for="maxPlayers">Max antal spelare</label>
        <input id="maxPlayers" type="number" @bind="_maxPlayers" min="1" />

        @if (_playerNames.Count >= _maxPlayers)
        {
            <p class="create-game-error">Max antal spelare är tillagda!</p>
        }

        <label for="player">Lägg till spelare</label>
        <input id="player" @bind="_player" @onkeyup="HandleKey" disabled="@(_playerNames.Count >= _maxPlayers)" />
        <button type="button" @onclick="AddPlayer" disabled="@(_playerNames.Count >= _maxPlayers)">Lägg till</button>

        <ul>
            @foreach (var name in _playerNames)
            {
                <li>@name</li>
            }
        </ul>

        <label>
            <input type="checkbox" @bind="_playersLocked" disabled="@(_playerNames.Count <= 0)" />
            Spärra möjlighet att lägga till fler spelare när matchen startats
        </label>

        <button type="submit" @onclick="CreateNewGame">Skapa match</button>
    </div>
</div>


@if (_showErrorPopup)
{
    <div class="popup-backdrop">
        <div class="popup-box">
            <h4>Fel</h4>
            <p>@_errorMessage</p>
            <button type="button" @onclick="CloseErrorPopup">OK</button>
        </div>
    </div>
}

@code {

    string _gameName = "";
    int _startScore;
    bool _highScoreWins = true;
    string _player = "";
    readonly List<string> _playerNames = [];
    int _maxPlayers = 4;
    bool _playersLocked;
    private bool _showErrorPopup = false;
    private string _errorMessage = string.Empty;
    
    void AddPlayer()
    {
        if (_playerNames.Count >= _maxPlayers)
        { 
            return;
        }

        if (_playerNames.Contains(_player))
        {
            ShowError("Spelaren finns redan. Ange annat spelarnamn.");
            return;
        }

        if (string.IsNullOrWhiteSpace((_player)))
        {
            ShowError("Ange ett spelarnamn");
            return;
        }
        
        _playerNames.Add(_player);
        _player = "";
    }

    private void ShowError(string message)
    {
        _errorMessage = message;
        _showErrorPopup = true;
    }
    
    private void CloseErrorPopup()
    {
        _showErrorPopup = false;
        _errorMessage = string.Empty;
    }
    
    async Task CreateNewGame()
    {
        if (string.IsNullOrWhiteSpace(_gameName))
        {
            ShowError("Ange namn för ditt spel");
            return;
        }
        
        var game = new MatchRequestDto
        {
            GameName = _gameName,
            HighScoreWins = _highScoreWins,
            MaxPlayers = _maxPlayers,
            PlayersLocked = _playersLocked,
            StartScore = _startScore,
            PlayerNames = _playerNames
        };

        var response = await Http.PostAsJsonAsync("api/match", game);

        if (response.IsSuccessStatusCode)
        {
            var createdGame = await response.Content.ReadFromJsonAsync<MatchResponseDto>();
            
            if (createdGame != null)
            {
                NavManager.NavigateTo(createdGame.Url);
            }
            else
            {
                NavManager.NavigateTo("/");
            }
        }
    }

    void HandleKey(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            AddPlayer();
        }
    }
}
